<form action="/addpet" method ="post">
  <div>
    <label for="yourPetsName">Pets Name:</label>
    <input type="text" name="yourPetsName" id="yourPetsName" />
  </div>
  <div>
   <label for="Breed">Breed:</label>
   <input type="text" name="Breed" id="Breed" />
  </div>
  <div>
   <label for="Owner">Owner:</label>
   <input type="text" name="Owner" id="Owner" />
  </div>
  <div>
   <label for="Known for">Known for:</label>
   <input type="text" name="known_for" id="Known for" />
  </div>

  <button>Add your pet!</button>
</form>